<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="main" style="">
      <div id="mainHeader">
        <header class="content" style="padding:0.25em;">
        <h1><img src="/LOGO.svg" alt="Welcome to roly.neocities.org"></h1>
        <h2>Est 2020</h2>
        <hr style="display:none;">
        </header>
      </div>
      
      <div id="mainSidebar">
        <nav class="content">
        <a href="/">Back home</a>
        <script src="/_sidebar/load.js"></script>
        </nav>
      </div>
      <div id="mainContent"><main class="content">
        {{ content }}
      </main>
			</div>
      
    </div>
    
    <hr style="display:none;">
    <footer>
      <p>Roly 2020-2022</p>
    </footer>
  </body>
</html>
