<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="mainHeader">
      <header class="content" style="padding:0.25em;">
        <h1><img src="/assets/images/LOGO.svg" alt="KiteCreature.net"></h1>
        <hr style="display:none;">
      </header>
    </div>
    <div id="mainSidebar">
      <nav class="content">
				<div id="navStation">
				<h2>Menu</h2>
				<h3>Main</h3>
				<a href="/home/"><img src="/assets/images/sidebar/home.png" style="vertical-align:bottom;" alt=""> Homepage</a>
				<a href="/about/">About</a>
				<a href="/shrines/"><img src="/assets/images/sidebar/shrines.png" style="vertical-align:bottom;" alt=""> My Shrines</a>
				<a href="/coding/"><img src="/assets/images/sidebar/webapps.png" style="vertical-align:bottom;" alt=""> Coding</a>
				<a href="/creatures/">Creatures</a>
				<h3>Web Stuff</h3>
				<a href="/greenhouse/" style="padding:4px 8px;"><img src="/assets/images/sidebar/greenhouse.png" style="vertical-align:bottom;" alt=""> Greenhouse</a> 
				<a href="/buttons/"><img src="/assets/images/sidebar/buttons.png" style="vertical-align:bottom;" alt=""> Buttons</a>
				<!--
				<a href="/sitemap/"><img src="/assets/images/sidebar/map.png" style="vertical-align:bottom;" alt=""> Sitemap</a>
				<h3>My work</h3>
				<a href="/art/"><img src="/assets/images/sidebar/art.png" style="vertical-align:bottom;" alt=""> Art</a>
				
				<a href="/games/">Games</a>
				<h3>Web Things</h3>
				
				</div>-->
      </nav>
    </div>
	
    <div id="mainContent">
      <div class="content">
				<header>
					<h1>{{ page.title }}</h1>
				</header>				
				<main>
        	{{ content }}
				</main>
<hr>
				<footer>
					
					<img src="/rolymicrobar.gif" style="margin-right:auto;">
					<a href="https://github.com/ro1y/kitecreature.net">Source Code</a>
				</footer>
      </div>
    </div>
  </body>
</html>

